Package: hello-dbgsym
Package-Type: ddeb
Source: hello
Version: 2.10-2ubuntu2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 53
Depends: hello (= 2.10-2ubuntu2)
Section: debug
Priority: optional
Description: debug symbols for hello
Build-Ids: 7c3f8bf1eee62cee07cc559ab5a00bfff37f8cb3
Original-Maintainer: Santiago Vila <sanvila@debian.org>
